# Electron build configuration
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/

# Build settings
ELECTRON_SKIP_BINARY_DOWNLOAD=0

